html,
body {
  padding: 0;
  margin: 0;
  font-family: "OpenSauceOneRegular";
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.claimTag {
  border-radius: 90px !important;
  background: rgba(27, 32, 43, 0.93) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  padding: 10px !important;
  color: #fff !important;
}

.headerLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss01'on;
  color: #0C0C0D;
}

.faqHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss01'on;
  color: #0C0C0D;
}

.primaryButton {
  width: 100% !important;
  padding: 16px 32px;
  background: #5546FF !important;
  border-radius: 10px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF !important;
}

.primaryButton:hover {
  background: #3124be !important;
}

.subText {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #74777D !important;
}