html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter !important;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.availableWrapper {
  position: absolute;
  top: 475px;
}

.tag-claimed {
  top: 210px;
  transition: all 0.3s ease-in-out;
}

.claimTag {
  border-radius: 90px !important;
  background: rgba(27, 32, 43, 0.93) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  padding: 10px 14px !important;
  color: #fff !important;
}

.nft-video {
  width: 430px;
  height: 430px;
  object-fit: cover;
  border-radius: 16px;
}

.nft-claimed {
  height: 165px !important;
  transition: all 0.3s ease-in-out;
}

.headerLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss01' on;
  color: #0c0c0d;
}

.faqHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  display: flex;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss01' on;
  color: #0c0c0d;
}

.primaryButton {
  width: 100% !important;
  padding: 16px 32px;
  background: #5546ff !important;
  border-radius: 10px !important;
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff !important;
}

.highlight {
  filter: drop-shadow(0px 6px 24px rgba(85, 70, 255, 0.4));
}

.secondaryButton {
  width: 100% !important;
  padding: 16px 32px;
  background: #eef2fb !important;
  border-radius: 10px !important;
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center;
  letter-spacing: -0.01em;
  color: #5546ff !important;
}

.secondaryButton:hover {
  background: #d1dcf5 !important;
}

.primaryButton:hover {
  background: #3124be !important;
}

.subText {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #74777d !important;
}

.claimCTATitle {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  color: #242629;
}

.claimCTADescription {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #74777d;
}

.socialIcon {
  background-color: transparent !important;
  border: 1px solid #e5e5e5 !important;
}

.socialIcon:hover {
  cursor: pointer;
  background-color: #e5e5e5 !important;
  border: 1px solid #cfcfcf !important;
}
